.navbar .nav> li > a.brand {
    padding-left: 20px;
    margin-left: 0;
}

.content {
    margin-top: 50px;
    width: 100%;
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#ddd;
   -webkit-box-shadow: 0 8px 6px 6px black;
     -moz-box-shadow: 0 8px 6px 6px black;
          box-shadow: 0 8px 6px 6px black;
}
footer p{
     padding: 5px 0 12px 10px;
}

body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);

}

.navbar .nav > li {
	-webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	
}

.navbar .nav > li:hover, .navbar .nav > li:active {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
  background-color: black !important;
  border-radius: 20px;
}
	