extends auth

block auth
    form.form-horizontal(action="/users", method="post")
        h2 Registrate
        .control-group
            label.control-label(for='name') Nombre y apellidos
            .controls
                input#name(type='text', name="name", placeholder='Nombre y apellidos', value=user.name)

        .control-group
            label.control-label(for='email') Email
            .controls
                input#email(type='text', name="email", placeholder='Email', value=user.email)

        .control-group
            label.control-label(for='username') Nombre de usuario
            .controls
                input#username(type='text', name="username", placeholder='Username', value=user.username)

        .control-group
            label.control-label(for='password') Password
            .controls
                input#password(type='password', name="password", placeholder='Password')

        .control-group
            .controls
                button.btn.btn-primary(type='submit') Enviar
                &nbsp;
                | or&nbsp;
                a.show-login(href="/signin") login
